<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
<!--    //查询组合对应库存ID-->
<!--    // {颜色|版本|套装 : skuId,颜色|版本|套装 : skuId,颜色|版本|套装 : skuId,颜色|版本|套装 : skuId}-->
<!--    List<Map> getSkuValueIdsMap(Long spuId);-->
    <select id="getSkuValueIdsMap" resultType="Map">
        select
            GROUP_CONCAT(skv.sale_attr_value_id order by spv.base_sale_attr_id  SEPARATOR '|') values_id,
            skv.sku_id
        from sku_sale_attr_value skv
        inner join spu_sale_attr_value spv on skv.sale_attr_value_id=spv.id
        where skv.spu_id = #{spuId}
        GROUP BY skv.sku_id
    </select>
</mapper>